{% extends 'base.html' %}
{% load static %}
{% block title %}Profile Page{% endblock title %}

{% block content %}

<div class="container my-5">
    <div class="row justify-content-center">
        <div class="col-sm-8">
            <div class="card shadow" style="width: 40rem;">
                <!-- <img src="..." class="card-img-top" alt="..."> -->
                <!-- <img src="{{request.user.profile.user_profile_image.url}}" alt="mdo" width="32" height="32" class="rounded-circle"> -->

                <img src="{{request.user.profile.user_profile_image.url}}" width="100" height="100" alt="mdo"
                    class="rounded-circle mx-auto d-block mt-3 border border-black">

                <form class="mt-5 p-4" action="{% url 'editprofileimage' %}" method="post"
                    enctype="multipart/form-data">

                    {% csrf_token %}

                    <h5>Update your profile picture</h3><br>
                        <div class="mb-3">

                            <input type="file" class="form-control w-50" id="inputGroupFile01" name="profile_image" required>

                        </div>
                        <button type="submit" class="btn btn-danger btn-sm">Change</button>
                </form>

                <div class="card-body">
                    <h5 class="card-text">UserName: {{username}}</h5>
                    <p class="card-text"><span class="fw-bold">FirstName:</span> {{first_name}}</p>
                    <p class="card-text"><span class="fw-bold">LastName:</span> {{last_name}}</p>
                    <p class="card-text"><span class="fw-bold">Email:</span> {{email}}</p>
                    <p class="card-text"><span class="fw-bold">Present Address:</span> {{present_address | safe}}
                    </p>
                    <p class="card-text"><span class="fw-bold">Parmanent Address:</span> {{parmanent_address | safe}}</p>
                    <p class="card-text"><span class="fw-bold">City:</span> {{city}}</p>
                </div>
                <div class="card-body">
                    <a href="{% url 'editprofilepage' %}" class="btn btn-primary btn-sm">Edit Profile</a>
                    <a href="{% url 'homepage' %}" class="btn btn-danger btn-sm">Cancel</a>
                </div>
            </div>

        </div>
    </div>
</div>

{% endblock content %}